<!DOCTYPE html>
<html>

<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <style>
        .add-form {
            width: 300px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
        }

        .add-form h1 {
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }

        .add-form input[type="text"],
        .add-form input[type="url"],
        .add-form input[type="number"] {
            width: 100%;
            padding: 15px;
            border: 1px solid #dddddd;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        .add-form input[type="submit"] {
            width: 100%;
            padding: 15px;
            background-color: #535b63;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }
        
        .give-textarea {
            /* перенос на новую строку */
            white-space: pre-wrap;

        }
    </style>
</head>

<body>
    <div class="add-form">
        <h1>Добавление раздачи</h1>
        <label>Аккаунт должен быть ОТКРЫТЫЙ</label><br><br>
        <form method="POST">
            <label>Никнейм *</label><br>
            <input type="text" name="userName" class="field" required="required" /><br><br>
            {{!-- <label>ID</label><br>
        <input type="text"  name="userID" class="field" /><br><br> --}}
            {{!-- <label>Ссылка на профиль</label><br>
        <input type="text" name="userLink" class="field" /><br><br> --}}
            <label>Инфо раздачи *</label><br>
            {{!-- <input type="text" name="userGiveinfo" class="field" required="required" /><br><br> --}}
            <textarea name="userGiveinfo" rows="15" cols="40" required="required" class="give-textarea"></textarea><br><br>
            <label>Прямая ссылка на аватар (не обязательно)</label><br>
            <input type="url" name="userAvatar" class="field" /><br><br>
            <input type="submit" value="Добавить" />
        </form>
        <a href="/" class="btn btn-secondary">К списку раздач</a>
        <p>После нажатия на кнопку "Добаить" начнется парсинг фолловеров в фоне.</p>
    </div>
</body>
<html>